body {
	background-color : rgba(0,0,0,0.4)
}

h1,h6 {
font-style:italic;
font-size: 30px;
text-align: center;
}
img {
	border: 2px solid red;
	
}

li{
color:green;
font-size: 12px;
text-familly: cambria;
}

ol li{
	padding:2px;
}
